# Dependencies
node_modules/
frontend/node_modules/
package-lock.json
frontend/package-lock.json

# Production builds
frontend/dist/
.vercel/

# Environment Variables
.env
.env*.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Development files
server.js
local-server.js
test-*.js